/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111110;
    color: #B0B0B0;
    font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    width: 100%;
    position: fixed;
    margin-left: 2%;
    top: 0;
    left: 0;
    z-index: 90;
    background: transparent;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.logo.hide-logo {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.1s ease;
}

/* CONTENT */
.page-content {
    padding-top: 30px;
}

h1 {
    color: #F5F5F5;
}

/* HERO HEADER */
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0 20px;
}

/* TEXT SIDE */
.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F5F5F5;
    margin-bottom: 10px;
}


.breadcrumb {
    font-size: 14px;
    color: #B0B0B0;
    margin-bottom: 8px;
}

.breadcrumb a {
    color: #B0B0B0;
    text-decoration: none;
}

.breadcrumb a.active {
    color: #E5A84B;
    font-weight: 600;
}

.breadcrumb a:hover {
    color: #E5A84B;
}

.subtitle {
    font-size: 15px;
    color: #B0B0B0;
}

/* FILTERS RIGHT */
.hero-filters {
    display: flex;
    gap: 12px;
    margin-left: 40px;
}

    .filter-dropdown {
    width: 100%;
    margin-left: 0;
    background: #111110;
    color: #F5F5F5;
    border: 1px solid #3C4144;
    border-radius: 16px;
    padding: 16px 20px;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    transition: 0.3s ease;

    /* Custom Arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 18px;
    padding-right: 55px;
}

/* DROPDOWN OPEN STATE */
.custom-dropdown {
    position: relative;
    width: 220px;
    user-select: none;
}

.dropdown-selected {
    background: #1A1A1A;
    border: 1px solid #3C4144;
    padding: 14px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #F5F5F5;
}

.dropdown-options {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #1A1A1A;
    border: 1px solid #3C4144;
    border-radius: 12px;
    display: none;
    z-index: 999;
    overflow: hidden;
}

.custom-dropdown.open .dropdown-options {
    display: block;
}

.dropdown-option {
    padding: 12px 14px;
    cursor: pointer;
    color: #B0B0B0;
    display: flex;
    gap: 8px;
    align-items: center;
}

.dropdown-option:hover {
    background: #111110;
    color: #E5A84B;
}

.dropdown-option.active {
    background: #111110;
    color: #E5A84B;
}

.car-brand {
        font-size: 15px;
        display: inline-block;
        padding: 4px 0px;
        border-radius: 12px;
        color: #111110;
    }



/* =========================
   MOBILE RESPONSIVE DESIGN
========================= */
@media (max-width: 768px) {

    /* GENERAL */
    body {
        overflow-x: hidden;
    }
    .page-content {
        padding: 20px 20px 60px;
    }
    .container {
        padding: 0;
    }

    .header {
        padding: 10px 20px;
    }
    /* LOGO */
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;
        transition: opacity 0.1s ease;
    }

    .logo img {
        width: 38px;
        height: 38px;
    }

    .logo span {
        font-size: 28px;
        font-weight: 700;
    }

    .logo.hide-logo {
        opacity: 0;
        pointer-events: none;
    }

    /* HERO SECTION */
    .hero-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 56px;
        line-height: 1;
        margin-bottom: 15px;
    }

    .breadcrumb {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 1.6;
        max-width: 100%;
    }

    /* FILTERS */
    .hero-filters {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 0;
    }

    .filter-dropdown {
    width: 100%;
    margin-left: 0;
    background: #111110;
    color: #F5F5F5;
    border: 1px solid #3C4144;
    border-radius: 16px;
    padding: 16px 20px;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    appearance: none;
    padding: 14px 40px 14px 18px;
    background-position: right 14px center;
    transition: 0.3s ease;
    /* Custom Arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 18px;

}

/* DROPDOWN OPEN STATE */
.custom-dropdown {
    position: relative;
    width: 100%;
    user-select: none;
    
}

.dropdown-selected {
    background: #1A1A1A;
    border: 1px solid #3C4144;
    padding: 14px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #F5F5F5;
}

.dropdown-options {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #1A1A1A;
    border: 1px solid #3C4144;
    border-radius: 12px;
    display: none;
    z-index: 999;
    overflow: hidden;
}

.custom-dropdown.open .dropdown-options {
    display: block;
}

.dropdown-option {
    padding: 12px 14px;
    cursor: pointer;
    color: #B0B0B0;
    display: flex;
    gap: 8px;
    align-items: center;
}

.dropdown-option:hover {
    background: #111110;
    color: #E5A84B;
}

.dropdown-option.active {
    background: #111110;
    color: #E5A84B;
}

/* FIX LOGO HIDE */
.logo.hide-logo {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.1s ease;
}


    /* CAR GRID */
    #carsContainer {
        margin-top: 30px;
    }

    /* CARD */
    .car-card {
        border-radius: 20px;
        overflow: hidden;
    }

    .car-card img {
        height: 230px;
        object-fit: cover;
    }

    .car-info {
        padding: 18px;
    }

    .car-brand {
        font-size: 15px;
        display: inline-block;
        padding: 1px 0px;
        border-radius: 12px;
    }

    .car-name {
        font-size: 24px;
        line-height: 1.3;
        margin: 8px 0 14px;
    }

    .car-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .car-rating {
        font-size: 18px;
    }

    .car-price {
        font-size: 28px;
        font-weight: 700;
    }

    /* BOOTSTRAP COLUMN FIX */
    .col-md-4,
    .col-lg-3,
    .col-sm-6 {
        width: 100%;
    }
}
/* CARD */
.car-card-link {
    text-decoration: none;
    color: inherit;
}

.car-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    background: #1A1A1A;
    border: 1px solid #3C4144;
    transition: 0.3s ease;
}

.car-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .car-img {
        height: 240px;
    }
}

/* GRADIENT */
.car-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent 60%);
}

/* INFO */
.card-info {
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    z-index: 2;
    color: #F5F5F5;
}

.car-brand {
    font-size: 12px;
    color: #ffffff;
}

.car-name {
    font-size: 16px;
    margin-bottom: 6px;
}

.price {
    color: #E5A84B;
    font-weight: bold;
}

/* ICON */
.card-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,0.5);
    padding: 8px;
    border-radius: 50%;
    z-index: 2;
    color: white;
}

/* DESKTOP HOVER */
.car-card:hover {
    transform: translateY(-5px);
    border-color: #E5A84B;
}

.car-card:hover .hover-overlay {
    opacity: 1;
}

.hover-overlay {
    position: absolute;
    inset: 0;
    background: rgba(17,17,16,0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
    z-index: 3;
}

.hover-overlay span {
    border: 1px solid #E5A84B;
    padding: 10px 20px;
    color: #F5F5F5;
    border-radius: 6px;
}

