body{
    background:#000;
    color:#fff;
    font-family: Arial, sans-serif;
}

.car-card{
    background:#11131b;
    border-radius:25px;
    overflow:hidden;
    border:1px solid rgba(255,255,255,0.08);
    transition:0.3s ease;
    height:100%;
}

.car-card:hover{
    transform:translateY(-8px);
}

.car-image{
    position:relative;
    height:260px;
    overflow:hidden;
}

.car-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.rating{
    position:absolute;
    top:15px;
    right:15px;
    background:#161616;
    color:#fff;
    padding:8px 14px;
    border-radius:30px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:6px;
}

.rating i{
    color:#ffc107;
}

.car-content{
    padding:30px;
}

.category{
    color:#3f8cff;
    font-size:15px;
    font-weight:600;
}

.car-content h3{
    margin-top:12px;
    margin-bottom:18px;
    font-size:2rem;
    font-weight:700;
}

.car-info{
    display:flex;
    gap:18px;
    flex-wrap:wrap;
    color:#9a9a9a;
    margin-bottom:30px;
}

.car-info i{
    margin-right:6px;
}

.price-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.price-row h2{
    font-size:3rem;
    font-weight:700;
    margin:0;
}

.price-row h2 span{
    font-size:1.2rem;
    color:#777;
}

.rent-btn{
    background:#fff;
    color:#111;
    border-radius:20px;
    padding:16px 34px;
    font-size:1.1rem;
    font-weight:600;
}

.rent-btn:hover{
    background:#f1f1f1;
}